*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #595959;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
  padding-bottom: 150px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
}

a, a:visited {
	color: #535353;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.hidden,
.collapsed{
    display: none!important;
}

ul {
    list-style-type: none;
}

/* Tree */
#tree-controls {
    margin-bottom: 15px;
}
.tree {
    margin: 0;
    padding: 0;
}
.tree .item {
    margin: 5px;
}
.empty:before {
    /*content: "\00a0";*/
    content: "";
    margin-right: 18px;
}
.minus:before {
    /*content: "\00a0";*/
    content: "−";
    margin-right: 5px;
}
.plus:before {
    /*content: "\00a0";*/
    content: "+";
    margin-right: 5px;
}

.tree .item .title {
    cursor: pointer;
    border: 1px solid #337AB7;
    display: inline-block;
    padding: 5px 10px;
    min-width: 80px;
}
.tree .item ul {
    padding-left: 30px;
}

/* Buttons */
button {
    padding: 5px 10px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    border-radius: 5px;
    cursor: pointer;
}
button.submit {
    color: #fff;
    background-color: #337AB7;
}
button.cancel {
    background-color: #eee;
}

/* Popups */

.popup {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 10px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
    overflow: hidden;
    word-wrap: break-word;
}
.popup.active {
    display: block;
}

/* Context popup */

.popup.context-menu {
    width: 200px;
}
.popup.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.popup.context-menu li {
  display: block;
}
.popup.context-menu li:last-child {
  margin-bottom: 0;
}
.popup.context-menu a {
  display: block;
  padding: 4px;
  color: #0066aa;
  text-decoration: none;
}
.popup.context-menu a:hover {
  color: #fff;
  background-color: #0066aa;
}

/* Popups error */
.popup .errors {
    padding: 0;
    margin: 0;
}
.popup .error,
.popup .errors li {
    margin: 0 5px 15px;
    color: #a94442;
}

/* Add popup */

.popup.add {
    width: 400px;
}

/* Edit popup */

.popup.edit {
    width: 400px;
}

/* Delete popup */

.popup.delete {
    width: 400px;
}

/* Error popup */

.popup.error {
    top: 200px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

/* Forms */
.popup .form-row {
    margin: 0 5px 15px;
}
.popup .form-row input {
    margin-left: 10px;
    padding: 5px;
    border: solid 1px #dfdfdf;
    color: #595959;
    font-size: 16px;
    width: 300px;
}